.contact-us {
    margin: 0 auto;
    padding: 9vw 11vw 9vw 11vw;

    .firstname {
        margin: 0 0 15px 0;
        width: 98%;
    }

    .lastname {
        margin: 0 0 15px 0;
        width: 98%;
    }
}